@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit&family=Poppins:wght@400;500;600;700&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
 font-family: "Raleway", sans-serif;

}
@theme{
--color-primary: #2563EB;
--color-primary-DULL: #1F58D8;
--color-light: #F1F5F9;
--color-borderColor: #c4c7d2;
}